.container {
    margin-top: 10px;
    border-radius: 5px;
    padding: 30px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    .item {
        display: flex;
        flex-direction: column;
    }
    .buttons{
        display: flex;
        flex-direction: column;
    }
}
